<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h4>Edit Contact</h4>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onUpdate()">
        <div class="mb-3">
          <input type="text" id="contactId" class="form-control" [(ngModel)]="foundContact.contactId" name="contactId" readonly>
        </div>

        <div class="mb-3">
          <input type="text" id="name" class="form-control" [(ngModel)]="foundContact.contactName" name="name" required>
        </div>

        <div class="mb-3">
          <input type="tel" id="phoneNo" class="form-control" [(ngModel)]="foundContact.contactPhoneNo" name="phoneNo" required>
        </div>

        <div class="mb-3">
          <input type="url" id="photoUrl" class="form-control" [(ngModel)]="foundContact.contactPhoto" name="photoUrl" required>
        </div>

        <button type="submit" class="btn btn-success me-2">Update</button>
        <button type="button" class="btn btn-secondary me-2" routerLink="/contacts/viewall">Back
          <i class="fa fa-back"></i>
        </button>
      </form>
    </div>
  </div>
